@using Fundraise.MvcExample.Models
@model ProfileViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h1>Profile</h1>
</div>
<div class="row">
    <h2>My Fundraisers</h2>
    @if (Model.Fundraisers.Count < 1)
    {
        <p>You do not have any fundraisers. @Html.ActionLink("Create one now", "Create", "Fundraiser", null, null).</p>
    }
    else
    {
        <ul>
            @foreach (var fundraiser in Model.Fundraisers)
            {
                <li>@Html.ActionLink(fundraiser.Name, "Index", "Fundraiser", new { id = fundraiser.Id }, null)</li>
            }
        </ul>
        <p>@Html.ActionLink("Create another fundraiser", "Create", "Fundraiser", null, null).</p>
    }
</div>
<div class="row">
    <h2>My Donations</h2>
    <div class="panel panel-default">
        <table class="table">
            <tr>
                <th>Date</th>
                <th>Fundraiser</th>
                <th>Campaign</th>
                <th>Amount</th>
            </tr>
            @foreach (var donation in Model.Donations)
            {
                <tr>
                    <td>@donation.DateCreated.ToShortDateString()</td>
                    <td>@Html.ActionLink(donation.FundraiserName, "Index", "Fundraiser", new { id = donation.FundraiserId }, null)</td>
                    <td>@donation.CampaignName</td>
                    <td>@donation.Amount</td>
                </tr>
            }
        </table>
    </div>

</div>
@section headSection {
}